body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background:  url('../images/t3_perfect.jpg');
  
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

 #pac-input {
    font-family: Roboto;
    font-size: 20px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100%;
     margin: auto;
    border-radius: 15px;
    border-color: black;
    border-width: thin;
}
.myFlex-container {
  display: flex;
  margin-top: 170px;
}
.myFlex-container > div {
  background-color: white;
  margin: 20px;
  font-size: 15px;
  text-align: center;
}
.flexImage
{
    width: 80%;
    height: 80%;
}